.main-div{
  font-family: 'Roboto';
}

.profile-wrapper{
  height: 25vh;
  .perfil{
    background: #7a9ea3;//#a2c4c9; //#427eaf;
    height: 25vh;
    h1{
      font-size: 18px;
      color: #FFFFFF;
    }
    h2{
      font-size: 16px;
      color:#FFFFFF;
    }
    img{
      max-width: 20%;
      border-radius: 50%;
      border-style: none;
      display: block;  
    }
  }
  .contact-container{
    .contact-wrapper{
      background: #c7d8da; //#ccdee0; // #c1cce4;
      height: 25vh;
      li{
        list-style: none;
      } 
      .contact-main{
        h4{
          font-size: 20px;
        }
        a{
          color: #212529;
          text-decoration: none;
          i{
            color:#212529;
          }
        }
      } 
      .contact-social{
        ul{
          padding-left: 15px;
          padding-top: 15px; 
          li{
            list-style-type: none;
            display: inline;           
            margin-left: 3.5rem!important;
            a{
              color: #212529;
              text-decoration: none;
              i{
                font-size: 22px;
              }
            }
          }
        }
      }
    }
  }
}

.main-container{
  hr{
    background: #212529;
    height: 1px;
  }
  h4{
    font-size: 20px;
  }

  .os-habil{
    li{
      display: inline;
      margin-left: 5px;
    }
  }
  .main-bullets{
    height: 5px;
    width: 50px;
    background: #343a40;
  }
  .dates{
    font-size: 14px;
  }
  .bold-ap{
    font-weight: bold;
  }
}